<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:versionCode="1"
      android:versionName="1.0"
      android:installLocation="internalOnly" package="com.britoso.transIconTheme">
    <application android:label="@string/theme_title" android:icon="@drawable/theme_icon">
        <activity android:name=".main"
                  android:label="@string/theme_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="org.adw.launcher.THEMES" />
                <category android:name="android.intent.category.DEFAULT" />                
            </intent-filter>
        </activity>

    </application>
	<uses-sdk android:minSdkVersion="7"/>Description	Resource	Path	Location	Type
error: Error: No resource found that matches the given name (at 'drawable' with value '@drawable/home_arrows_right_1').	home_arrows_right.xml	/ADWTheme/res/drawable	line 19	Android AAPT Problem


</manifest> 